@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: black;
}

section {
    width: 100%;
    text-align: center;
}

section + section {
    padding-top: 25px;
}

button {
    padding: 10px;
    border-radius: 25px 25px;
    font-weight: bold;
    background-color: lightgrey;
    box-shadow: 2px 2px grey;
}

canvas {
    background-color: grey;
}